header {
	.header_content {
		padding-top: 20px;
		display: flex;
		justify-content: space-between;

		@media (min-width: 1170px) {
			padding-top: 25px;
		}

		.btn {
			color: black;
			background-color: #eac9c1;
		}
	}
}
