header {
	.header_content {
		padding-top: 20px;
		@include flex-between;

		@media (min-width: $computer-min) {
			padding-top: 25px;
		}

		.btn {
			color: $black;
			background-color: $beige;
			cursor: auto;
		}
	}
}
