.main-picture {
	.main-picture_content {
		@include flex-between;
		flex-direction: column;

		padding-top: 42px;
		padding-bottom: 24px;
		position: relative;

		@media (min-width: $tablet) {
			padding-top: 62px;
			padding-bottom: 64px;
		}

		@media (min-width: $computer-middle) {
			padding-top: 82px;
			padding-bottom: 84px;
		}

		@media (min-width: $computer-max) {
			padding-top: 122px;
			padding-bottom: 84px;
		}

		.picture {
			width: auto;
			@include margin-centering;
			display: block;
			margin-bottom: 33px;
			@media (min-width: $tablet) {
				margin-bottom: 40px;
			}

			@media (min-width: $computer-middle) {
				margin-bottom: 80px;
			}

			@media (min-width: $computer-max) {
				margin-bottom: 120px;
			}

			img {
				width: 100%;
				@include margin-centering;
				@media (min-width: 460px) {
					width: 85%;
				}

				@media (min-width: $computer-middle) {
					width: 100%;
				}
			}
		}

		.text {
			display: block;
			@include fs-20;
			width: 100%;
			@include margin-centering;
			margin-bottom: 24px;

			@media (min-width: $tablet) {
				@include fs-24;
				width: 66.5%;
				margin-bottom: 0px;
			}
		}

		.portal {
			position: absolute;
			width: 87px;
			display: none;

			@media (min-width: $tablet) {
				display: block;
			}
		}

		.portal-1 {
			width: 147px;

			@media (min-width: $tablet) {
				top: 64px;
				left: 77px;
			}

			@media (min-width: $computer-min) {
				left: 107px;
			}

			@media (min-width: $computer-middle) {
				top: 100px;
				left: 127px;
			}

			@media (min-width: $computer-max) {
				top: 120px;
				left: 197px;
			}
		}

		.portal-2 {
			@media (min-width: $tablet) {
				top: 193px;
				left: 171px;
			}

			@media (min-width: $computer-min) {
				left: 201px;
			}

			@media (min-width: $computer-middle) {
				top: 220px;
				left: 231px;
			}

			@media (min-width: $computer-max) {
				top: 240px;
				left: 311px;
			}
		}

		.portal-3 {
			@media (min-width: $tablet) {
				top: 295px;
				left: 640px;
			}

			@media (min-width: $computer-min) {
				left: 670px;
			}

			@media (min-width: $computer-middle) {
				top: 400px;
				left: 809px;
			}

			@media (min-width: $computer-max) {
				top: 430px;
				left: 909px;
			}
		}

		.portals-mobile {
			@include flex-between;
			height: 140px;
			width: 80%;
			@include margin-centering;

			@media (max-width: 400px) {
				width: 100%;
			}
			@media (min-width: $tablet) {
				display: none;
			}

			.portal-mobile {
				width: 87px;
			}

			.portal-mobile-1 {
				align-self: flex-start;
			}

			.portal-mobile-2 {
				align-self: flex-end;
			}

			.portal-mobile-3 {
				align-self: flex-start;
			}
		}
	}
}
